<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css">
  <title>Unimy Kopitiam</title>
</head>
<body>
  <div class="uk-navbar-container tm-navbar-container uk-sticky uk-sticky-fixed uk-active uk-sticky-below">
    <div class="uk-container uk-container-expand">
      <nav class="uk-navbar">
        <div class="uk-navbar-left">
          <div class="uk-navbar-item">
            <h1 class="uk-heading-primary">Unimy Kopitiam</h1>
          </div>
        </div>
      </nav>
    </div>
  </div>
  {{{body}}}
</body>
</html>
