<div class="uk-container">
    <form action="/post-confession" method="POST" class="uk-margin">
       <fieldset class="uk-fieldset">
            <legend class="uk-legend">Dump Message Here:</legend>

            <div class="uk-margin">
                <textarea class="uk-textarea" name="confessionText" id="confessionText" cols="30" rows="10"></textarea>
            </div>

            <button class="uk-button uk-align-center" type="submit">Submit</button>
        </fieldset>
    </form>
</div>

<div class="uk-container">
    {{#each confession}}
    <div class="uk-card uk-container uk-margin" >
        <div class="uk-text-bold">Message: </div>
        <div>{{this.content}}</div>
        <div>Date: {{this.date}}</div>
    </div>
    {{/each}}
</div>

